{% extends 'base.html' %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="row mb-2 mt-3">
            <div class="alert alert-danger alert-dismissible fade show ml-5" role="alert">
                <strong>Sorry!</strong> {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
{% if courses %}
    {% for course in courses %}
        <div class="col-md-12">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">{{ course.subject }}</strong>
                    <a href="{% url 'courses:course-detail' course.slug %}" class="text-dark">
                        <h3 class="mb-0">{{ course.title }}</h3></a>
                    <div class="mb-1 text-muted">{{ course.created|date }} <span>by:</span>
                        <b><i>{{ course.owner.fullname }}</i></b></div>
                    <p class="card-text">{{ course.overview }}</p>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="{{ course.course_image.url }}" alt="" class="bd-placeholder-img"
                         style="max-width: 350px; min-width: 350px" height="250">
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <h2>Could not found any course under this subject.
        <a href="{% url 'home' %}" class="text-danger">Go back</a></h2>
{% endif %}
</div>
{% endblock %}
